<a href="https://colab.research.google.com/github/shatakshigarg/LeanIn_July2021_NLP_ShatakshiGarg/blob/main/ShatakshiGarg_assignment1_lang_modelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
import nltk
from nltk import word_tokenize
from nltk.util import ngrams
from collections import Counter

In [ ]:
import pandas as pd
train_data_sent = pd.read_csv('movie_review.csv')
train_data_sent.head()

   fold_id cv_tag  ...                                               text  tag
0        0  cv000  ...  films adapted from comic books have had plenty...  pos
1        0  cv000  ...  for starters , it was created by alan moore ( ...  pos
2        0  cv000  ...  to say moore and campbell thoroughly researche...  pos
3        0  cv000  ...  the book ( or " graphic novel , " if you will ...  pos
4        0  cv000  ...  in other words , don't dismiss this film becau...  pos

[5 rows x 6 columns]

In [ ]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import re
import glob
import random
import seaborn as sns
import string

In [ ]:
train_data_sent['sentence_clean'] = train_data_sent['text'].str.replace('[{}]'.format(string.punctuation), '')
train_data_sent['sentence_clean'] = train_data_sent['sentence_clean'].str.lower()
#train_data_senti=train_data_sent
train_data_sent=train_data_sent.head(1000)

In [ ]:
train_data_sent.head()

   fold_id cv_tag  ...  tag                                     sentence_clean
0        0  cv000  ...  pos  films adapted from comic books have had plenty...
1        0  cv000  ...  pos  for starters  it was created by alan moore  an...
2        0  cv000  ...  pos  to say moore and campbell thoroughly researche...
3        0  cv000  ...  pos  the book  or  graphic novel   if you will  is ...
4        0  cv000  ...  pos  in other words  dont dismiss this film because...

[5 rows x 7 columns]

In [ ]:
from collections import defaultdict
from nltk import bigrams, trigrams
from collections import Counter

model_2 = defaultdict(lambda: defaultdict(lambda: 0))


for sentence in train_data_sent['sentence_clean']:
  #Split the sentence into bigrams inorder to count the frequencies of the bigrams
  for w1, w2,w3 in trigrams(sentence.split(), pad_right=True, pad_left=True):
    model_2[(w1,w2)][w3] += 1

In [ ]:
model_2['apart','as']

defaultdict(<function __main__.<lambda>.<locals>.<lambda>>, {'the': 1})

In [ ]:
for w1_w2 in model_2:
    total_count = float(sum(model_2[w1_w2].values()))
    for w3 in model_2[w1_w2]:
        model_2[w1_w2][w3] /= total_count

In [ ]:
model_2[('apart','as')]

defaultdict(<function __main__.<lambda>.<locals>.<lambda>>, {'the': 1.0})